.manage h1 {
  color: #000b19;
  margin: 50px 0;
}
.btnDelete {
  background-color: #b000b2 !important;

  border-radius: 5px;
}
.btnUpdate {
  background-color: #000b19 !important;
  border-radius: 5px;
}
