.service-card {
  min-height: 200px !important;
  background-color: #e7e9fa !important;
}
.country h2 {
  color: #000b19 !important;
  font-weight: 700;
}

.service-card h3 {
  font-weight: 700;
  font-size: 20px !important;
  margin: 10px 0;
  color: black !important;
}
.service-card h6 {
  color: #000b19 !important;
  font-weight: 700;
  font-size: 32px;
  margin: 10px 0;
}

.service-card p {
  font-size: 18px;
}

.service-card .btn {
  padding: 10px 34px;
  border-radius: 5px !important;
  background-color: #000b19 !important;
}
