.admin-area {
    background: #105652;
    color: white;
    min-height: 100vh;
  }
  .admin-container {
    overflow-x: hidden;
  }
  .admin-menu {
    list-style: none;
    cursor: pointer;
  }
  .admin-menu:hover {
    color: blue;
  }