.vision{
    color: rgb(75, 73, 73);
    margin: 100px auto;
}

h2{
    color:#105652;
    font-size: 44px;
    font-weight: 700;
    margin: 50px 0;
}
h4{
    color:#105652; 
}
.img{
    border-radius: 20px;
    border:2px solid #105652;
    width: 100%;
    max-height: 900px;
    min-height: 300px;
}
.vision p{
    font-size: 20px;
    padding: 20px 0;
}
.card{
    background-color: #d3fbdf;
 border-radius: 10px;
 margin: 10px 0;


}
.card:hover{

    border:2px solid #105652;
    
color: rgb(37, 37, 37) ;


    
   }
.card h4{
    font-weight: 700;
}
.card p{
    font-size: 16px;
}
.card a{
  
   
   
    color: white;
    
    font-size: 35px;
    margin: 10px 0;
}