.banner {
  display: flex;

  background: #000b19;
  /* text-align: center; */
  width: 100%;
  color: rgb(255, 255, 255);
}
.logo-img img {
  width: 100%;
  height: 100%;
  /* margin: 40px 0; */
}
.title {
  color: #ffffff;
  text-shadow: 2px 2px 5px #b000b2;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}
.banner p {
  font-size: 20px;
  text-shadow: 2px 2px 5px #b000b2;
}
.about-btn {
  background-color: #000b19;
  color: white;
  outline: none;
  border: none;
  padding: 10px 34px;
  border-radius: 40px;
  box-shadow: 2px 2px 5px #b000b2, -2px -2px 5px #b000b2;
}
